@model ST10398576_Disaster_Alleviation_Foundation.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<h2>Register</h2>

<form asp-action="Register" method="post" class="mt-3">
    <div class="mb-3">
        <label class="form-label">Full name</label>
        <input asp-for="FullName" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Email</label>
        <input asp-for="Email" type="email" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Password</label>
        <input asp-for="Password" type="password" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Role</label>
        <select asp-for="Role" class="form-control">
            <option>Donor</option>
            <option>Volunteer</option>
            <option>Admin</option>
        </select>
    </div>

    <button class="btn btn-primary">Register</button>

    <p>Already have an account? <a asp-controller="Account" asp-action="Login">Login here</a>.</p>

</form>
